{% load static %}
<html>
<style>
    .main-background {
        background-color: #dadada;
        border-radius: 20%;
        padding: 80px 40px 80px 40px;
    }

    .edit_btn {
        float: right;
        margin-right: 20px;
    }

</style>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Will Tabbron - Brridging Coursework 2020 - UOB</title>
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu" ><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <h1>
            <a href="/">WILL TABBRON - BRIDGING COURSEWORK</a>
        </h1>
    </div>
    <div class="edit_btn">
        <a href="admin\"><button class="btn btn-lg btn-primary" type="button" name="button">Admin</button></a>
    </div>
    <div class="content container main-background">
        <div class="row">
            <div class="col-md-8">
                <br>
                <br>
            {% block content %}
            {% endblock %}
            </div>
        </div>
        
    </div>
</body>
</html>