{% extends 'blog/base.html' %}

{% block content %}
    <ul>
        <h1 class="secondary-header">Posts</h1>
        <br>
        {% for post in posts %}
        <div class="post">
            <h2><li><h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2></li></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}